page-home {
    ion-searchbar{
        &.fixed {
            @extend .toolbar;
            position: fixed;
            top: 0; 

            transition: all 0.5s ease;

            &.searchbar-ios {
                transform: translateY(calc(#{$navbar-ios-height} + #{$cordova-ios-statusbar-padding}));
            }

            &.searchbar-md {
                transform: translateY(#{$navbar-md-height});
            }
            
            &.searchbar-wp {
                transform: translateY(#{$navbar-md-height});
            }
            z-index: 3; //zindex to put it on top of some ionic components
        }
    }
}
